################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MarsSample/bin/Debug
/MarsSample/obj/Debug
/MarsSample.Tests/obj/Debug
/MarsSample.Tests/bin/Debug
/packages/NUnit.3.4.1
